In [ ]:
Introduction to statistical functions:

In [2]:
import numpy as np

In [2]:
salaries = np.genfromtxt('salary.csv', delimiter=',') # csv - Comma separated Value

In [4]:
salaries

array([60000., 58000., 56967., ..., 54647., 25000., 70000.])

In [ ]:
This is a 1D array

### Find Mean, Median, Standard deviation, variance

In [5]:
salaries.shape

(1147,)

In [15]:
mean = np.mean(salaries)
median = np.median(salaries)
sd = np.std
variance = np.var(salaries)

In [7]:
mean

55894.53879686138

In [8]:
median

48000.0

In [9]:
sd

In [10]:
variance

3043770333.8474483

In [17]:
print('Mean = %i' %mean) # %i is the place holder
print('Median = %i' %median)
print('standard deviation = %i' %sd)
print('variance = %i' %variance)

Mean = 55894
Median = 48000

TypeError: %i format: a number is required, not function

### Introduction to iteration in Numpy:

In [6]:
a = np.arange(11)**2

In [7]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [9]:
for i in a:
    print(i**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [ ]:
Multi-Dimensional arrays:

In [13]:
students = np.array([['amit', 'ravali', 'bhargav', 'devi'],
                   [65,66,72,84],
                   [71,84,76,81],
                   [92,78,84,81]])

In [ ]:
students = np.array(['amit', 'ravali', 'bhargav', 'devi']
                   [65,66,72,84],
                   [71,84,76,81],
                   [92,78,84,81])

In [15]:
for i in students:
    print('marks=', i)

marks= ['amit' 'ravali' 'bhargav' 'devi']
marks= ['65' '66' '72' '84']
marks= ['71' '84' '76' '81']
marks= ['92' '78' '84' '81']

In [16]:
for a in students.flatten(): # row based splitting
    print(a)

amit
ravali
bhargav
devi
65
66
72
84
71
84
76
81
92
78
84
81

In [17]:
customers = np.array([['amit', 'ravali', 'bhargav', 'devi'],
                   [65,66,72,84],
                   [71,84,76,81],
                   [92,78,84,81]])  # e.g., of customers money in the banks

customers

In [18]:
for a in students.flatten(order='F'): # column based splitting F-forton
    print(a)

amit
65
71
92
ravali
66
84
78
bhargav
72
76
84
devi
84
81
81