### General syntax:

pandas.Dataframe(data,index,columns,dtype,copy)

### Creating an empty dataframe

In [9]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [12]:
data = [1,2,3,4,5]
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [13]:
data = [['Naresh',10], ['Vijaya', 9], ['Ravali',8],['Amith',7]]

df = pd.DataFrame(data, columns=['Name','Marks']) 

print(df)

     Name  Marks
0  Naresh     10
1  Vijaya      9
2  Ravali      8
3   Amith      7

In [14]:
data = [['Naresh',10], ['Vijaya', 9], ['Ravali',8],['Amith',7]]

df = pd.DataFrame(data, columns=['Name','Marks']) 

print(df)

     Name  Marks
0  Naresh     10
1  Vijaya      9
2  Ravali      8
3   Amith      7

In [ ]:
#Enhancement of the code...!

In [15]:
data = [['Naresh',10], ['Vijaya', 9], ['Ravali',8],['Amith',7]]

df = pd.DataFrame(data, columns=['Name','Marks'],dtype=float) 

print(df)

     Name  Marks
0  Naresh   10.0
1  Vijaya    9.0
2  Ravali    8.0
3   Amith    7.0

In [16]:
data = [['Naresh',10], ['Vijaya', 9], ['Ravali',8],['Amith',7]]

df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'], columns=['Name','Marks'],dtype=float) 

print(df)

         Name  Marks
rank1  Naresh   10.0
rank2  Vijaya    9.0
rank3  Ravali    8.0
rank4   Amith    7.0

### creating a DataFrame from dict of ndarrays/lists

In [8]:
data = {'Name':['Bhargav','Suresh','Hari','Devi','Vijaya'], 'Marks':[50,45,42,55,40]}

df = pd.DataFrame(data)

df

      Name  Marks
0  Bhargav     50
1   Suresh     45
2     Hari     42
3     Devi     55
4   Vijaya     40

In [ ]:
#dict: the keys will be converted as a col name.......

In [ ]:
loading the data into the system:
    
Cleansing the data ====> we need to keep only the required information

processing the data ====> transformations .....|

storing the data =====> compress teh data(optimal way by applying compression techniques...|)


working on the datasets:
    
Artwork_London based artwork dataset: